:root {
  --dark-mode-background: #15151B;
  --light-mode-background: #FFFFFF;
  --light-mode-navbar: #F9F9F7;
  --dark-mode-navbar: #101015;
  --dark-mode-input-box: #1E1E24;
  --light-mode-input-box: #F9F9F7;
  --border-color-suggestion-dark-mode: #313131;
  --border-color-suggestion-light-mode: #D4CDCD;
}

.card {
  width: fit-content;
  height: fit-content;
  border: 2px solid var(--border-color-suggestion-light-mode);
  border-radius: 8px;
  padding: 10px;
  color: black;
  background: none;
  cursor: pointer;
}

.toast {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  margin: 0px auto;
  align-self: center;
  gap: 10px;
  border: 2px solid var(--border-color-suggestion-light-mode);
  border-radius: 8px;
  padding: 10px;
  color: black;
  background: none;
  cursor: pointer;
  position: fixed;
  bottom: calc(100% - 100px);
  visibility: hidden;
}

@media (prefers-color-scheme: dark) {

  .card,
  .toast {
    border: 2px solid var(--border-color-suggestion-dark-mode);
    color: white;
    background: none;
  }
}