@import "animations/style.css";
@import "utils/style.css";
@import "fonts/style.css";
@import "snippet-styles/input-popup.css";
*{
  font-family: 'SF-PRO-NORMAL', sans-serif;
}
*:focus{
  outline: none;
}
body{
  background: var(--light-mode-background);
}
@media (prefers-color-scheme: dark) {
  body{
    background: var(--dark-mode-background);
    color: white;
  }
  svg > path{
    fill: white;
  }
}