@import "animations/style.css";
@import "utils/style.css";
@import "fonts/style.css";
@import "snippet-styles/input-popup.css";

*{
  font-family: 'SF-PRO-NORMAL', sans-serif;
  margin: 0px;
  border: none;
}
*:focus{
  outline: none;
}
button{
  transition: transform .2s linear;
}
button:active,
button:focus{
  transform: scale(0.8);
}

body{
  background: var(--light-mode-background);
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  display: flex;
  justify-content: start;
}
.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
  animation: SLIDETOP .8s linear;
}
.header > h1{
  margin: 0px;
  font-size: var(--clamp);
  animation: SCALEIN 1.5s ease;
}
.header > i{
  font-size: var(--clamp);
  animation: FADEIN 1s ease;
}
.side-bar{
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  width: clamp(50vw, 45vw, 30vw);
  height: 100vh;
  padding: 8px 8px 30px 8px;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: var(--light-mode-navbar);
  z-index: 100;
  gap: 8px;
  overflow-y: scroll;
  visibility: hidden;
}
.animate-open-side-bar{
  animation: SLIDELEFT 1s ease-in-out;
}
.animate-close-side-bar{
  animation: SCALEOUT .2s ease-in-out;
}
.side-bar :first-child{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  animation-delay: 1s;
  animation: SLIDETOP .5s ease;
}
.side-bar :first-child > header{
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 8px;
  width: 100%;
}
.side-bar :first-child > header > svg{
  width: 25px;
  height: 25px;
  border-radius: 5px;
  background: linear-gradient(to bottom, black, gray);
  border: 2px solid var(--border-color-suggestion-light-mode);
  padding: 5px;
  animation-delay: 1s;
  animation: FADEIN .5s ease;
}
.side-bar :first-child > header > svg > path{
  fill: white;
}
.side-bar :first-child > header > p{
  margin: 0px;
}
.side-bar :first-child > i{
  font-size: clamp(1.2em, 1.3em, 1.4em);
}
.side-bar :nth-child(2){
  display: flex;
  justify-content: start;
  align-items: center;
  width: fit-content;
  gap: 5px;
}
.side-bar :nth-child(2) > i{
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  color: black;
  border: none;
  padding: 2px;
  border-radius: 5px;
  width: 24px;
  height: 24px;
}
.side-bar > div > p{
  width: 100%;
}
.side-bar > button{
  width: 100%;
  font-size: 0.9em;
  justify-content: start;
  display: flex;
  align-items: center;
  text-align: start;
  background: white;
  border: none;
  animation-delay: 1s;
  animation: SLIDEBOTTOM 1s ease-in;
}
.main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0px auto;
  width: 100vw;
  height: 80%;
}
.main > section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  animation: SLIDEBOTTOM .8s ease-in-out;
}
.main > section > h1{
  font-size: var(--clamp);
  animation: FADEIN 1s ease;
}
.main > section > p{
  font-size: clamp(0.9em, 1em, 1.2em);
  animation: FADEIN 1s ease;
  max-width: clamp(70%, 65%, 40%);
}
.main > section > div{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.main > section > div > button{
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
  white-space: nowrap;
  width: clamp(40vw, 20vw, 10vw);
  animation-delay: .5s;
  animation: SCALEIN 1s ease-in-out;
}
.main > section > div > button > i{
  font-size: clamp(1.2em, 1.3em, 1.5em);
}
.main > section > div :first-child :first-child{
  color: aqua;
}
.main > section > div :last-child :first-child{
  color: firebrick;
}
.main > section > div > button > p{
 font-size: var(--clamp);
}
@media (prefers-color-scheme: dark) {
  body{
    background: var(--dark-mode-background);
    color: white;
  }
  svg > path{
    fill: white;
  }
  .side-bar{
    background: var(--dark-mode-navbar);
  }
  .side-bar :first-child > header > svg{
    border: 2px solid var(--border-color-suggestion-dark-mode);
  }
  .side-bar :nth-child(2) > i{
    background: var(--dark-mode-input-box);
    color: white;
  }
  .side-bar > button{
    background: var(--dark-mode-input-box);
    border: none;
  }
}
@media (min-width: 718px) {
  .header :first-child{
    visibility: hidden;
  }
  .side-bar{
    visibility: visible;
    position: normal;
    width: 30%;
  }
  .main{
    height: 60%;
    width: 70%;
  }
}