.chat-container{
  display: flex;
  flex-direction: column;
  background: none;
  width: 100vw;
  gap: 16px;
  overflow: hidden;
  overflow-y: scroll;
}
.chat-container > header{
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  margin: 0px auto;
  width: 60vw;
  text-align: center;
  background: var(--light-mode-input-box);
  border-radius: 8px;
  padding: 8px;
}
.chat-container > main{
  display: flex;
  flex-direction: column;
  justify-content: start;
  margin: 0px auto;
  width: 92%;
  gap: 16px;
  margin-bottom: 5rem;
}
.chat-container > main > div{
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: start;
  color: black;
  border-radius: 8px;
  padding: 8px;
  background: var(--light-mode-navbar);
  width: fit-content;
}

.chat-container > main > .user{
  align-self: end;
}

.chat-container > main > div > *{
  margin: 0px;
  padding: 0px;
  text-align: start;
  font-family: 'SF-PRO-NORMAL';
  font-size: clamp(0.8em, 0.9em, 1em);
}
.chat-container > main > div > h1{
  text-decoration: underline;
}
.chat-container > main > div > a{
  color: goldenrod;
}

.chat-container > footer{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: fixed;
  bottom: 0;
  margin-bottom: 24px;
}

.chat-container > footer > div{
  border-radius: 8px;
  padding: 8px;
  background: var(--light-mode-input-box);
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 8px;
  width: 90%;
  height: fit-content;
}

.chat-container > footer > div > input{
  background: none;
  width: 85%;
  font-size: 1rem;
  display: flex;
  justify-content: start;
}

.chat-container > footer > div > i{
  font-size: 1.4rem;
}

.loading{
  animation: ROTATE .5s linear infinite;
}

@media (prefers-color-scheme: dark) {
  .chat-container > header,
  .chat-container > footer > div{
    background: var(--dark-mode-input-box);
    color: white;
  }
  .chat-container > footer > div > input{
    color: white;
  }
  .chat-container > main > div{
    background: var(--dark-mode-navbar);
    color: #fbfbfb;
  }
}


@media (min-width: 718px) {
  .chat-container > header{
    width: 30vw;
  }
  .chat-container > footer{
    width: 72vw;
  }
}