.input-popup{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background: none;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 20;
  animation: SCALEIN .5s ease-in;
}
.input-popup-close{
  animation: SCALEOUT .5s ease-out;
  animation-fill-mode: forwards;
}
.input-popup > .input-popup-body{
  display: flex;
  flex-direction: column;
  align-items: start;
  border-radius: 8px;
  width: clamp(80vw, 70vw, 50vw);
  background: var(--light-mode-navbar);
  padding: 8px;
  gap: 8px;
}
.input-popup > .input-popup-body > nav{
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 6px;
}
.input-popup > .input-popup-body > nav > p{
  box-shadow: inset 0px 0px 2px #00000044;
  border-radius: 24px;
  padding: 6px 12px;
  margin: 0px auto;
  width: fit-content;
  height: fit-content;
  cursor: pointer;
}
.active-btn {
  background: black !important;
  color: white;
}
.input-popup > .input-popup-body > main{
  display: flex;
  justify-content: start;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.input-popup > .input-popup-body > main > i{
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: end;
  background: var(--light-mode-navbar);
  width: 20px;
  height: 20px;
  border-radius: 8px;
  padding: 8px;
  font-size: var(--clamp);
  margin: 6px 0px;
}
.input-popup > .input-popup-body > main > label{
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  width: 100%;
  gap: 8px;
}
.input-popup > .input-popup-body > main > textarea,
.input-popup > .input-popup-body > main > label > img,
.input-popup > .input-popup-body > main > label > object{
  width: 100%;
  height: 40vh;
  border: 2px solid var(--dark-mode-input-box);
  padding: 6px;
  border-radius: 8px;
  font-size: clamp(1.1em, 1.3em, 1.5em);
}
.input-popup > .input-popup-body > main > label > object,
.input-popup > .input-popup-body > main > label > img{
  width: clamp(80vw, 70vw, 50vw);
  max-height: clamp(70vh, 60vh, 50vh);
  object-fit: cover;
}
.input-popup > .input-popup-body > main > label > span{
  background: black;
  color: white;
  border-radius: 8px;
  padding: 6px 12px;
  margin: 0px auto;
  gap: 6px;
  cursor: pointer;
}
.input-popup > .input-popup-body > footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.input-popup > .input-popup-body > footer > select,
.input-popup > .input-popup-body > footer > button{
  background: none;
  border: 2px solid var(--dark-mode-input-box);
  padding: 4px;
  font-size: 1.1em;
  border-radius: 8px; 
  color: black;
  cursor: pointer;
}
.input-popup > .input-popup-body > footer > button{
  padding: 6px 16px;
}
@media (prefers-color-scheme: dark) {
  .input-popup > .input-popup-body{
    background: var(--dark-mode-navbar);
  }
  .input-popup > .input-popup-body > nav > p{
    background: black;
    border: 2px solid var(--dark-mode-input-box);
    color: white;
  }
  .active-btn{
    background: white !important;
    color: black !important;
  }
  .input-popup > .input-popup-body > main > i{
    background: var(--dark-mode-navbar);
  }
  .input-popup > .input-popup-body > main > textarea{
    background: black;
    color: white;
  }
  .input-popup > .input-popup-body > main > label > span{
    background: white;
    color: black;
  }
  .input-popup > .input-popup-body > footer > select,
  .input-popup > .input-popup-body > footer > button{
    color: white;
  }
}