.rotate{
  animation: ROTATE .7s linear infinite;
  border-radius: 50% !important;
}
.result-page-container{
  display: flex;
  justify-content: start;
  align-items: start;
  margin: 0px auto;
  flex-direction: column;
  min-height: 100vh;
  overflow: hidden;
  background: var(--light-mode-background);
  gap: 8px;
  min-width: 97vw;
  margin-top: 8px;
}
.center{
  margin: 0px auto;
}
.result-page-container > button {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: clamp(0.7em, 0.9em, 1em);
  margin-left: 8px;
}
.result-page-container > nav{
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 8px;
  padding: 8px;
}
.result-page-container > nav > button{
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: clamp(0.7em, 0.9em, 1em);
  border-width: 1px;
  border-radius: 24px;
}
.result-page-container > main{
  display: flex;
  align-items: start;
  justify-content: center;
  overflow: hidden;
  overflow-y: scroll;
  height: 60vh;
  gap: 8px;
}
.result-page-container > main > .first-child{
  display: flex;
  align-items: start;
  justify-content: center;
  margin-left: 4px;
  padding: 4px;
}
.result-page-container > main > .first-child > svg{
  border: 1px solid var(--border-color-suggestion-light-mode);
  padding: 12px;
  border-radius: 8px;
  width: 24px;
  height: 24px;
}
.result-page-container > main > .last-child{
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
  gap: 6px;
  word-break: break-all;
}
.result-page-container > main > .last-child > img,
.result-page-container > main > .last-child > object{
  border-radius: 8px;
width: 60vw; 
  height: 50vh;
  object-fit: cover;
  margin: 0px auto;
}
.result-page-container > .icons{
  display: flex;
  justify-content: start;
  align-items: center;
  width: 100%;
  padding-left: 16px;
  gap: 8px;
}
.result-page-container > .icons > i{
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--light-mode-navbar);
  width: 20px;
  height: 20px;
  border-radius: 8px;
  padding: 8px;
  font-size: var(--clamp);
}
.result-page-container > main > .last-child > *{
  margin: 0px;
  padding: 0px;
  text-align: start;
  font-family: 'SF-PRO-NORMAL';
  font-size: clamp(0.8em, 0.9em, 1em);
}
.result-page-container > main > .last-child > h1{
  text-decoration: underline;
}
.result-page-container > main > .last-child > a{
  color: goldenrod;
}
@media (prefers-color-scheme: dark) {
  .result-page-container{
    background: var(--dark-mode-background);
    color: white;
  }
  .result-page-container > main > .first-child > svg > path{
    fill: white;
  }
  .result-page-container > .icons > i{
    background: var(--dark-mode-navbar);
  }
}


@media (min-width: 718px) {
  .result-page-container{
    min-width: 72vw;
  }
  .result-page-container > main{
    width: 72vw;
  }
}